In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

This is the data we'll use:

In [2]:
 df.marathon = read.csv('../data//marathon.csv')
 df.marathon |> head()

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

What's the best race time? (*Hint: use `summarize` with the `min` function*)

In [3]:
df.marathon |>
    summarize(min(race.time))

  min(race.time)
1 2.050556

What's the best race time for the men and women?

In [6]:
df.marathon |>
    group_by(MF) |>
    summarize(min(race.time))

  MF      min(race.time)
1 Men's   2.050556
2 Women's 2.333056

What's the median race time for the US women? (*Hint: use `|> filter(country == "United States")` to filter the data to just the US*)

In [8]:
df.marathon |>
    filter(country == "United States") |>
    filter(MF == "Women's") |>
    summarize(median(race.time))

  median(race.time)
1 2.766944

What's the median race time for the Kenyan men? (*Hint: use `|> filter(country == "Kenya")` to filter the data to just Kenya*)

In [9]:
df.marathon |>
    filter(country == "Kenya") |>
    filter(MF == "Men's") |>
    summarize(median(race.time))

  median(race.time)
1 2.155139

How many winners have there been for the US and Kenya?

In [15]:
df.marathon |>
    #filter(country == "Kenya" | country == "United States") |>
    filter(country %in% c("Kenya", "United States")) |>
    group_by(country) |>
    summarize(n())

  country       n()
1 Kenya         34
2 United States 54