ðŸ¦œ Uncomment the following code for the [TidyTuesday Bird Bath dataset](https://github.com/rfordatascience/tidytuesday/tree/master/data/2021/2021-08-31).ðŸ¦‰

In [1]:
 library('tidyverse')

â”€â”€ Attaching packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 1.3.2 â”€â”€
âœ” ggplot2 3.4.0      âœ” purrr   0.3.5
âœ” tibble  3.1.8      âœ” dplyr   1.0.10
âœ” tidyr   1.2.1      âœ” stringr 1.4.1
âœ” readr   2.1.3      âœ” forcats 0.5.2
â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()

In [2]:
 df_birdbath = read_csv(
     'https://github.com/rfordatascience/tidytuesday/blob/master/data/2021/2021-08-31/bird_baths.csv?raw=true',
     col_types = cols()
 )

In [6]:
df_birdbath |> head()

  survey_year urban_rural bioregions               bird_type
1 2014        Urban       South Eastern Queensland Bassian Thrush
2 2014        Urban       South Eastern Queensland Chestnut-breasted Mannikin
3 2014        Urban       South Eastern Queensland Wild Duck
4 2014        Urban       South Eastern Queensland Willie Wagtail
5 2014        Urban       South Eastern Queensland Regent Bowerbird
6 2014        Urban       South Eastern Queensland Rufous Fantail
  bird_count
1 0
2 0
3 0
4 0
5 0
6 0

Each row represents the number of times a type of bird was observed at a bird bath in the survey year.

We want to just work with the most numerous birds for baths that have been categorized as "Urban" or "Rural."

Find the top fifteen bird types by total `bird_count` after filtering out baths where `urban_rural` category is not provided. Capture this vector with a variable called `top15_bird_types`. 

Hint: remember `pull` and `slice_max`

In [29]:
top15_bird_types = df_birdbath |> 
    filter(urban_rural %in% c('Urban','Rural')) |> 
    group_by(bird_type) |>
    summarize(total_bird_count = sum(bird_count, na.rm = TRUE)) |> 
    arrange(desc(total_bird_count)) |> 
    slice_max(total_bird_count, n = 15) |> 
    pull(bird_type)
top15_bird_types

 [1] "Noisy Miner"        "Australian Magpie"  "Rainbow Lorikeet"
 [4] "Red Wattlebird"     "Superb Fairy-wren"  "Magpie-lark"
 [7] "Pied Currawong"     "Crimson Rosella"    "Eastern Spinebill"
[10] "Spotted Dove"       "Lewin's Honeyeater" "Satin Bowerbird"
[13] "Crested Pigeon"     "Grey Fantail"       "Red-browed Finch"

1. Create a table of just the top birds using the vector of top 15 bird types to filter. Exclude rows with `NA` vlues for `urban_rural`.
1. Group by `bird_type` and `urban_rural` and find the mean `bird_count` for each group.
1. Sort the factor levels for `bird_type` by `bird_count` value at `Rural` baths.
1. Capture the output of these operations under a new variable.

Your final table will have three columns: 1) `bird_type`, 2) `urban_rural` and 3) `mean_bird_count`

In [35]:
df = df_birdbath |> 
    filter(bird_type %in% top15_bird_types, urban_rural %in% c('Urban','Rural')) |>
    group_by(bird_type, urban_rural) |>
    summarize(total_bird_count = sum(bird_count, na.rm = TRUE))
df |> head()

`summarise()` has grouped output by 'bird_type'. You can override using the
`.groups` argument.

  bird_type         urban_rural total_bird_count
1 Australian Magpie Rural        76
2 Australian Magpie Urban       186
3 Crested Pigeon    Rural        28
4 Crested Pigeon    Urban        97
5 Crimson Rosella   Rural        66
6 Crimson Rosella   Urban        89

Make a "Urban"/"Rural" [Cleveland dot chart](https://uc-r.github.io/public/images/visual/cleveland-dotplots/unnamed-chunk-10-1.png) figure with your new table.

If we want to add "segments" to our dot chart, we need to re-shape our data into "wide" format. Specifically we want to have "Urban" and "Rural" as **columns** instead of **values**.

Use `pivot_wider` to make this wide table, capture it, and use `geom_segment` in combination with your wide table to add segments to your Cleveland dot chart from above ðŸ‘†.

(Uncomment the code and make the cell below markdown to see my solution.)

In [ ]:
# ![](https://github.com/chuckpr/BIOS512/blob/main/in-class-exercises/12/12_01_pivot_chart.png?raw=true)